/* src/components/NavigationBar.css */
.navigation-bar {
    background-color: #f3f3ee;
    color: black;
    width: 15%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding-top: 20px;
}

/* .navigation-bar > div {
    margin-bottom: 20px;
} */
.ctrlNewThread:hover{
    border: 1px solid rgb(114, 113, 113);
    color: black;
}
.navigation-bar ul {
    list-style-type: none;
    padding: 0;
    /* background-color: antiquewhite; */

}
/* .navigation-bar li a{
    display: flex;
align-items: center;
} */

.navigation-bar li {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    /* background-color: aquamarine; */
}

.navigation-bar li:hover{
    background-color:#e7e0e0 ;
    opacity: 0.8;
}

.navigation-bar a {
    text-decoration: none;
    color: black;   
}

/* .navigation-bar a:hover {
    color: #FFA500;
} */

.navigation-bar a.active {
    font-weight: bold;
    background-color: #FFA500;
}

/* Style for the logo */
.navigation-bar > div:first-child {
    font-weight: bold;
}

/* Style for the footer */
.navigation-bar > div:last-child {
    font-style: italic; 
}

.logostyles{
    margin-bottom: '10px';
    }
    
    .logostyles h2:hover{
        color: #81b4ba;
    }