/* src/components/NavigationBar.css */
.navigation-bar {
    background-color: #f3f3ee;
    color: black;
    width: 15%;
    height: 97%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding-bottom: 20px;
}

.ctrlNewThread{
    border: 1px solid white;
}
.ctrlNewThread:hover{
    border: 1px solid rgb(114, 113, 113);
    color: black;
}
.navigation-bar ul {
    list-style-type: none;
    padding: 0;
    /* background-color: antiquewhite; */

}

.custom-button {
    width: 100%;
    background-color: #20808d;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    font-size: larger;
    margin-top: 20px;
}
.custom-button:hover{
    /* background-color:#e7e0e0 ; */
    opacity: 0.8;
}

.navigation-bar li {
    display: flex;
    align-items: center;
    font-size: large;
    padding: 10px 15px;
    /* background-color: aquamarine; */
    transition: background-color 0.2s ease, transform 0.1s ease;
    /* transition: color 0.2s ease; */
}

.navigation-bar li:hover{
    background-color:#e7e0e0 ;
    opacity: 0.8;
    border-radius: 5px;
}

.navigation-bar a {
    text-decoration: none;
    color: black;   
}

.navigation-bar a.active {
    font-weight: bold;
}

/* Style for the logo */
.navigation-bar > div:first-child {
    font-weight: bold;
}
.userDetails:hover{
    background-color: #e7e0e0;
}
/* Style for the footer */
.navigation-bar > div:last-child {
    
}
.bottomDownload{
    border-top: #e7e0e0 solid 1px;
}

.bottomDownload div:hover {
    
    background-color: #e7e0e0;
}

.logostyles{
    margin-bottom: '10px';
    }
    
    .logostyles h2:hover{
        color: #81b4ba;
    }